@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
body {
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 999;
  height: 100px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  top: 0;
}
header .ham {
  display: none;
}
header .ham a {
  display: block;
}
header .ham a span {
  width: 36px;
  height: 6px;
  background: #222;
  display: block;
  border-radius: 25px;
  transition: all 0.5s;
}
header .ham a:nth-child(2) {
  margin: 3px 0;
}
header .h_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .h_right nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .h_right nav > ul > li {
  position: relative;
  padding-right: 80px;
}
header .h_right nav > ul > li > a {
  font-size: 1.25rem;
  font-family: jua;
  display: flex;
}
header .h_right nav > ul > li > a img {
  width: 12px;
  height: 12px;
  transform: translate(5px, 2px);
}
header .h_right nav > ul > li > .sub {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: 300px;
}
header .h_right nav > ul > li > .sub > li {
  margin-top: 16px;
  padding-bottom: 8px;
}
header .h_right nav > ul > li > .sub > li > a {
  font-weight: 600;
  height: 16px;
}
header .h_right nav > ul > li > .sub li:hover {
  border-bottom: dashed 1px #222;
  padding-bottom: 7px;
}
header .h_right nav > ul > li:hover > a {
  color: #ee3224;
}
header .h_right nav > .bg_nav {
  width: 1000%;
  background: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1000px;
}
header .h_right > .subsub a {
  font-size: 1rem;
  color: #fff;
  width: 115px;
  line-height: 36px;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  font-family: jua;
}
header .h_right > .subsub a:nth-child(1) {
  background: #502416;
}
header .h_right > .subsub a:nth-child(2) {
  background: #ee3224;
}
header .h_right > .subsub a:nth-child(3) {
  background: #f48238;
}
header .bg_h {
  width: 1000%;
  background: #fff;
  height: 300px;
  position: absolute;
  top: 100px;
  z-index: -1;
  left: -1000px;
}

main {
  width: 1440px;
  margin: 0 auto;
}
main .campaign {
  width: 100%;
}
main .campaign1 {
  width: 100%;
  position: relative;
  margin-top: 100px;
}
main .campaign1 video {
  width: 100%;
}
main .campaign1 .bg_1 {
  width: 1000%;
  background: #f48238;
  height: 810px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1000px;
}
main .campaign2 {
  text-align: center;
  width: 100%;
  height: 260px;
  background: #502416;
  margin-top: -2px;
  position: relative;
}
main .campaign2 p {
  padding-top: 40px;
  font-family: jua;
  font-size: 2.25rem;
  line-height: 2;
  color: #f48238;
}
main .campaign2 p span {
  font-size: 2.25rem;
  font-family: jua;
  color: #ee3224;
}
main .campaign2 h1 {
  font-size: 4.5rem;
  font-family: jua;
  color: #f48238;
}
main .campaign2 h1 span {
  font-size: 4.5rem;
  font-family: jua;
  color: #ee3224;
}
main .campaign2 h2 {
  font-size: 1.5rem;
  font-family: jua;
  text-align: end;
  color: #fff;
  position: absolute;
  right: 1%;
  bottom: 5%;
}
main .campaign3 {
  height: 350px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .campaign3 p {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  transition: all 0.5s;
}
main .campaign3 p a {
  margin-top: -20px;
}
main .campaign3 p a img {
  transition: all 1s;
}
main .campaign3 p a:last-child {
  transform: translateX(90%);
  margin-top: 12px;
  padding-top: 10px;
  font-family: jua;
  width: 120px;
  height: 35px;
  background: #ee3224;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  display: none;
  transition: all 1s;
}
main .campaign3 p:hover a:last-child {
  display: block;
}
main .campaign3 p:hover img {
  transform: scale(1.1);
}
main .campaign3 .bg_2_1 {
  width: 1000%;
  background: #f2ebe6;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1000px;
}
main .campaign4 {
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  margin-bottom: -50px;
}
main .campaign4 div h1 {
  font-size: 3.75rem;
  font-family: jua;
}
main .campaign4 div h2 {
  font-size: 1.875rem;
  line-height: 1.5;
  margin-top: 10px;
  letter-spacing: -0.02em;
}
main .campaign4 .bg_4 {
  display: none;
}
main .campaign5 {
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  margin-top: -50px;
}
main .campaign5 div h1 {
  font-size: 3.75rem;
  font-family: jua;
}
main .campaign5 div h2 {
  font-size: 1.875rem;
  line-height: 1.5;
  margin-top: 10px;
  letter-spacing: -0.02em;
}
main .campaign5 .bg_4_4 {
  display: none;
}
main .campaign6 {
  height: 435px;
  margin-top: 100px;
  text-align: center;
  margin-top: -20px;
}
main .campaign6 h1 a {
  transition: all 0.5s;
  font-size: 3.75rem;
  font-family: jua;
  width: 380px;
  height: 75px;
  background: #ee3224;
  display: inline-block;
  border-radius: 50px;
  line-height: 75px;
  color: #fff;
  padding-top: 4px;
}
main .campaign6 a:hover {
  color: #ee3224;
  background: #f48238;
}
main .campaign6 h2 {
  font-size: 1.875rem;
  margin-top: 30px;
}
main .campaign6 > .store {
  display: flex;
  justify-content: center;
}
main .campaign6 > .store > div {
  display: flex;
  flex-flow: column wrap;
  padding: 0 50px;
  margin-top: 50px;
}
main .campaign6 > .store > div span {
  margin-top: 30px;
  font-family: jua;
  font-size: 1.4rem;
}
main .campaign6 .bg_6 {
  display: none;
}
main .campaign7 {
  height: 355px;
  background: #502416;
  padding-top: 20px;
}
main .campaign7 h2 {
  text-align: center;
  color: #f2ebe6;
  font-size: 1.45rem;
  margin-top: 60px;
}
main .campaign7 .platform {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
main .campaign7 .platform .youtube {
  display: flex;
  align-items: center;
}
main .campaign7 .platform .youtube > div > p {
  color: #fff;
  font-family: jua;
  margin-left: 15px;
  text-align: center;
  margin-bottom: 8px;
}
main .campaign7 .platform .youtube > div .subs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  width: 140px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  margin-top: 8px;
  transition: all 0.5s;
}
main .campaign7 .platform .youtube > div .subs img {
  width: 24px;
  height: 16px;
  margin-right: 5px;
}
main .campaign7 .platform .youtube > div .subs a {
  font-family: jua;
  text-align: center;
  line-height: 40px;
  margin-left: 5px;
}
main .campaign7 .platform .youtube > div .subs:hover {
  background: #ee3224;
}
main .campaign7 .platform .youtube > div .subs:hover a {
  color: #fff;
}
main .campaign7 .platform .facebook {
  display: flex;
  align-items: center;
  margin: 0 40px;
}
main .campaign7 .platform .facebook > div > p {
  color: #fff;
  font-family: jua;
  margin-left: 15px;
  text-align: center;
  margin-bottom: 8px;
}
main .campaign7 .platform .facebook > div .subs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  width: 140px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  margin-top: 8px;
  transition: all 0.5s;
}
main .campaign7 .platform .facebook > div .subs img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
main .campaign7 .platform .facebook > div .subs a {
  font-family: jua;
  text-align: center;
  line-height: 40px;
  margin-left: 5px;
}
main .campaign7 .platform .facebook > div .subs:hover {
  background: #ee3224;
}
main .campaign7 .platform .facebook > div .subs:hover a {
  color: #fff;
}
main .campaign7 .platform .instagram {
  display: flex;
  align-items: center;
}
main .campaign7 .platform .instagram > div > p {
  color: #fff;
  margin-left: 15px;
  font-family: jua;
  text-align: center;
  margin-bottom: 8px;
}
main .campaign7 .platform .instagram > div .subs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  width: 140px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  margin-top: 8px;
  transition: all 0.5s;
}
main .campaign7 .platform .instagram > div .subs img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
main .campaign7 .platform .instagram > div .subs a {
  font-family: jua;
  text-align: center;
  line-height: 40px;
  margin-left: 5px;
}
main .campaign7 .platform .instagram > div .subs:hover {
  background: #ee3224;
}
main .campaign7 .platform .instagram > div .subs:hover a {
  color: #fff;
}
main .campaign7 .bg_7 {
  display: none;
}
main .campaign8 {
  margin-bottom: 100px;
  position: relative;
}
main .campaign8 .swiper {
  width: 100%;
}
main .campaign8 .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
main .campaign8 .swiper .swiper-button-next:after, main .campaign8 .swiper .swiper-button-prev:after {
  content: "next";
  display: none;
}
main .campaign8 .bg_8 {
  width: 1000%;
  background: #f48238;
  height: 121%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1000px;
}

footer {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
footer .left {
  padding: 20px 0;
}
footer .left .l_t h1 {
  font-size: 1.875rem;
  font-family: jua;
  color: #fff;
  line-height: 2;
}
footer .left .l_t p {
  color: #fff;
  line-height: 1.5;
}
footer .left .l_m {
  margin-top: 30px;
}
footer .left .l_m a img {
  width: 24px;
  height: 24px;
}
footer .left .l_m a:nth-child(2) {
  margin: 0 5px;
}
footer .left .l_m a:last-child img {
  transform: translateY(7px);
  width: 36px;
  height: 36px;
}
footer .right {
  padding: 35px 0;
}
footer .right .r_t {
  text-align: center;
}
footer .right .r_t a {
  color: #fff;
  font-family: jua;
}
footer .right .r_t a:nth-child(2) {
  margin: 0 45px;
}
footer .right .r_f {
  margin-top: 20px;
  text-align: center;
}
footer .right .r_f a {
  color: #fff;
  border: 2px #fff solid;
  border-radius: 25px;
  font-family: jua;
  padding: 5px 30px;
  display: inline;
}
footer .bg_f {
  width: 1000%;
  background: #502416;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1000px;
}/*# sourceMappingURL=main.css.map */