.active {color:#ee3224; border-bottom: 3px solid #ee3224; padding-bottom: 2px;}
.fix {
    z-index: 999; width:52px; height: 52px;
    position:fixed; right: 5%; bottom: 5%;
    background: url(../images/up.png) no-repeat;
    background-size: cover;
}

main {width: 1440px; margin: 100px auto; 
    .introduce {width:1440px; height:230px; background: url(../images_main/bg_f.jpg) no-repeat;
        background-size: cover;
        background-position: right;
        display: flex; flex-flow: column wrap;
        > h1 {font-size: 3rem; font-family: jua; color:#fff;  padding: 0 30px; padding-top: 30px;}
        span {line-height: 2; color:#fff; padding: 0 30px;}
        .nav {padding: 0 30px;
            a {color:#fff; line-height: 3; padding-bottom: 1px; display: inline;}
            a:nth-child(2) {margin: 0 20px;}
            a::after {
                content:''; width: 5px; height: 5px; background: #ee3224; border-radius: 100%; display: inline-block;
                transform: translate(13px, -3px);
            }
            a:last-child::after {display: none;}
            a:hover {border-bottom: 1px dashed #fff; padding-bottom: 1px; color:#ee3224;}
        }
    }
    > h1 {padding: 0 30px; font-size: 3rem; font-family: jua; margin-top: 100px;}
    .title { text-align: center; margin-top: 100px;
        font-family: jua; font-size: 1.45rem;
        
        a {margin:30px; transition: all 0.1s;}
    }
    .new_menu {width:100%; margin:0 auto;
        
        .menu {
            .group1 { display: flex; justify-content: space-between; margin-top: 100px;
                width:100%;
                .hamburger {
                    border: 1px solid #f8f8f8;
                    border-radius: 10px;
                    a {width:100%;
                        border: 1px solid #f8f8f8;
                        background: #f8f8f8;
                        border-radius: 15px;
                        display: flex;
                        flex-flow: column wrap;
                        transition: all 0.5s;
                        img {width:100%; transition: all 0.5s;}
                        img:hover {transform: scale(1.1);}
                        span {text-align: center; font-size: 1.2; font-family: jua; padding: 10px 0;}
                        span:first-child {}
                        span:last-child {margin-bottom: 40px; color: #ccc;
                        }
                    }
                }
                .hamburger:hover a{border: 1px solid#ee3224; transform: scale(1.2); background: #ee3224;}
                .hamburger:hover p{transform: scale(1.2); }
                .quatro4 {
                    a {
                        img {}
                        span {}
                    }
                }
                .quatro3 {
                    a {
                        img {}
                        span {}
                    }
                }
                .smoky_mon {
                    a {
                        img {}
                        span {}
                    }
                }
            }
            .group2 { display: flex; justify-content: space-between; margin-top: 50px;
                width:100%;
                .hamburger {display: flex; 
                    border: 1px solid #f8f8f8;
                    border-radius: 10px;
                    a {width:100%;
                        border: 1px solid #f8f8f8;
                        background: #f8f8f8;
                        border-radius: 15px;
                        display: flex;
                        flex-flow: column wrap;
                        transition: all 0.5s;
                        img {width:100%; transition: all 0.5s;}
                        img:hover {transform: scale(1.1);}
                        span {text-align: center; font-size: 1.2; font-family: jua; padding: 10px 0;}
                        span:first-child {}
                        span:last-child {margin-bottom: 40px; color: #ccc;
                        }
                    }
                }
                .hamburger:hover a{border: 1px solid#ee3224; transform: scale(1.2); background: #ee3224;}
                .hamburger:hover p{transform: scale(1.2); }
                .smoky_whopper {
                    a {
                        img {}
                        span {}
                    }
                }
                .smoky_x {
                    a {
                        img {}
                        span {}
                    }
                }
                .chi_blt {
                    a {
                        img {}
                        span {}
                    }
                }
            }
            .group3 {display: flex;
                justify-content: space-between;
                margin-top: 50px;
                .hamburger {display: flex; 
                    border: 1px solid #f8f8f8;
                    border-radius: 10px;
                    a {
                        border: 1px solid #f8f8f8;
                        background: #f8f8f8;
                        border-radius: 15px;
                        display: flex;
                        flex-flow: column wrap;
                        transition: all 0.5s;
                        img {width:100%; transition: all 0.5s;}
                        img:hover {transform: scale(1.1);}
                        span {text-align: center; font-size: 1.2; font-family: jua; padding: 10px 0;}
                        span:first-child {}
                        span:last-child {margin-bottom: 40px; color: #ccc;
                        }
                    }
                }
                .hamburger:hover a{border: 1px solid#ee3224; transform: scale(1.2); background: #ee3224;}
                .chi_k {
                    a {
                        img {}
                        span {}
                    }
                }
                .blt_oml {
                    a {
                        img {}
                        span {}
                    }
                }
                .oml_k {
                    a {
                        img {}
                        span {}
                    }
                }
            }
        }
    }
}